.add-product-form {
    label {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        color: gray;
    }
    input,textarea {
        width: 100%;
    }
}
