<!-- <p-tree [value]="nodes" class="w-full md:w-30rem" (onNodeSelect)="onNodeSelect($event)"></p-tree> -->
<div class="wrapper">
  <div class="wrapper-navbar card">
    <p-tree [value]="nodes" [style]="{'background':'none','color':'#414141','border':'none'}">
        <ng-template let-node pTemplate="route">
             <a target="_blank" rel="noopener noreferrer" [attr.data-node-data]="node.data"
             data-node-type="route" (click)="onNodeSelect($event)" class="hover:text-primary"
             [style]="{'color':'#828282'}">{{ node.label }}</a>
        </ng-template>
        <ng-template let-node pTemplate="default">
            <b>{{ node.label}}</b>
        </ng-template>
    </p-tree>
  </div>
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
  
</div>

