<div class="card flex flex-wrap gap-4 justify-content-start pt-3">
    <p-button label="Primary" [outlined]="true"></p-button>
    <p-button label="Secondary" [outlined]="true" severity="secondary"></p-button>
    <p-button label="Success" [outlined]="true" severity="success"></p-button>
    <p-button label="Info" [outlined]="true" severity="info"></p-button>
    <p-button label="Warning" [outlined]="true" severity="warning"></p-button>
    <p-button label="Help" [outlined]="true" severity="help"></p-button>
    <p-button label="Danger" [outlined]="true" severity="danger"></p-button>
</div>